body{
	font-family: "Microsoft YaHei","Helvetica Neue",Arial,sans-serif;
}
#max-banner{
	background-color: #fff;
}
#banner-content{
	padding: 120px 0;
}
#banner-content h1{
	margin-bottom: 80px;
	position: relative;
}
#banner-content h1 span{
	position: absolute;
	margin: 10px 0 0 10px;
	font-size: 18px;
}
#banner-content p{
	font-size: 18px;
}

#grammaticalFeatures .media{
	margin-bottom: 30px;
}
#grammaticalFeatures span.glyphicon{
	font-size: 30px;
}
#grammaticalFeatures .media .media-body h4{
	margin-bottom: 12px;
}

/*-----------------------------------------*/
@media screen and (min-width:768px){
	#banner-content{
		padding: 240px 0;
	}
}